doctype html
html
  head
    meta(charset='UTF-8')
    title Base of the Bass
    meta(name='description', content='We provide No.1 fun party in Saigon.')
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(href="/vendors/normalize.css/normalize.css",rel="stylesheet",type="text/css")
    link(href="/styles/application.min.css",rel="stylesheet",type="text/css")
    link(rel="shortcut icon", href="/resources/favicon.ico")
    script(type="text/javascript", src="/scripts/vendors/mixpanel.js")

  body
    div#container
      h1
        a(href="http://botb.slowbirds.org") Base of the Bass
      div.content
        ul#navigation
          li
            a(href="https://www.facebook.com/BaseOfTheBass") FACEBOOK
          li
            a(href="https://github.com/BaseOfTheBass") Github

    script(type="text/javascript",src="/scripts/application.min.js",charset='UTF-8')
    script(type="text/javascript",src="/scripts/vendors/googleanalytics.js",charset='UTF-8')
