doctype html
html
  head
    meta(charset='UTF-8')
    title Base of the Bass
    meta(name='description', content='We provide No.1 fun party in Saigon.')
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(href="/vendors/normalize.css/normalize.css",rel="stylesheet",type="text/css")
    link(rel="stylesheet", href='http://fonts.googleapis.com/css?family=Roboto:900,400',type='text/css')
    link(href="/styles/application.min.css",rel="stylesheet",type="text/css")
    link(rel="shortcut icon", href="/resources/favicon.ico")

    script(type="text/javascript", src="/scripts/vendors/mixpanel.js")

  body
    h1
      a(href="http://botb.slowbirds.org")
        img(src="/resources/logo.png")
    div#container
      div.content
        ul#navigation
          li
            a(href="https://www.facebook.com/BaseOfTheBass") FACEBOOK
          li
            a(href="https://github.com/BaseOfTheBass") Github

      div.content
        h2 members
        div#members
          div.member
            p.profileImg
              img(src='/resources/profiles/leo9.jpg')
            h3 Leo9
            p.profileIntro その場で作るマッシュアップのテクニックレベルと客の盛り上げ具合が評価されている。
            ul.profileLinks
              li.profileFB
                a(href='http://www.facebook.com/leo9')
                  img(src='/resources/icons/facebook.png')
              li.profileTwitter
                a(href='http://www.twitter.com/leo9')
                  img(src='/resources/icons/twitter.png')
              li.profileDJ
                a(href='http://www.mixcloud.com/leo9')
                  img(src='/resources/icons/mixcloud.png')
              li.profileSound
                a(href='http://www.soundcloud.com/leo9')
                  img(src='/resources/icons/soundloud.png')
              li.profileVideo
                a(href='http://www.youtube.com/leo9')
                  img(src='/resources/icons/youtube.png')

          div.member
            p.profileImg
              img(src='/resources/profiles/akihito.jpg')
            h3 AkiHito*
            p.profileIntro 自身の軸となるHipHop/R&B、そしてまたReggae, House, Dance Classics, Rock…と幅広い選曲、ぶれない構成、時折見せる味のある二枚使いは、日本屈指のパーティータウン大阪を揺らし続けている。
            ul.profileLinks
              li.profileFB
                a(href='http://www.facebook.com/leo9')
                  img(src='/resources/icons/facebook.png')
              li.profileTwitter
                a(href='http://www.twitter.com/leo9')
                  img(src='/resources/icons/twitter.png')
              li.profileDJ
                a(href='http://www.mixcloud.com/leo9')
                  img(src='/resources/icons/mixcloud.png')
              li.profileSound
                a(href='http://www.soundcloud.com/leo9')
                  img(src='/resources/icons/soundloud.png')
              li.profileVideo
                a(href='http://www.youtube.com/leo9')
                  img(src='/resources/icons/youtube.png')

          div.member
            p.profileImg
              img(src='/resources/profiles/nori-nori.jpg')
            h3 Nori-Nori
            p.profileIntro 時に厳しく、時にやさしくフロアを作り込んでいく独特のGrooveを展開する選曲には定評があり多くの人々を魅了している。
            ul.profileLinks
              li.profileFB
                a(href='http://www.facebook.com/leo9')
                  img(src='/resources/icons/facebook.png')
              li.profileTwitter
                a(href='http://www.twitter.com/leo9')
                  img(src='/resources/icons/twitter.png')
              li.profileDJ
                a(href='http://www.mixcloud.com/leo9')
                  img(src='/resources/icons/mixcloud.png')
              li.profileSound
                a(href='http://www.soundcloud.com/leo9')
                  img(src='/resources/icons/soundloud.png')
              li.profileVideo
                a(href='http://www.youtube.com/leo9')
                  img(src='/resources/icons/youtube.png')

          div.member
            p.profileImg
              img(src='/resources/profiles/slowbirds.jpg')
            h3 Slowbirds
            p.profileIntro サウンドクリエーター/DJ。選曲・ミキシングに於いて抜群のセンスを持ち、サウンドプロダクションに於ける才能が、海外のクラブ・シーンでも高く評価されている。
            ul.profileLinks
              li.profileFB
                a(href='http://www.facebook.com/leo9')
                  img(src='/resources/icons/facebook.png')
              li.profileTwitter
                a(href='http://www.twitter.com/leo9')
                  img(src='/resources/icons/twitter.png')
              li.profileDJ
                a(href='http://www.mixcloud.com/leo9')
                  img(src='/resources/icons/mixcloud.png')
              li.profileSound
                a(href='http://www.soundcloud.com/leo9')
                  img(src='/resources/icons/soundloud.png')
              li.profileVideo
                a(href='http://www.vimeo.com/leo9')
                  img(src='/resources/icons/vimeo.png')

          div.member
            p.profileImg
              img(src='/resources/profiles/peachman.jpg')
            h3 Peachman
            p.profileIntro UKハウス、ハードハウス、ガラージ、ジャズハウス、テックハウスなど、さまざまなハウスミュージックを自由自在にクロスオーバーし、「スタイリッシュ」「クール」「ハイテンション」をキーワードとするハウスミュージックを展開。
            ul.profileLinks
              li.profileFB
                a(href='http://www.facebook.com/leo9')
                  img(src='/resources/icons/facebook.png')
              li.profileTwitter
                a(href='http://www.twitter.com/leo9')
                  img(src='/resources/icons/twitter.png')
              li.profileDJ
                a(href='http://www.mixcloud.com/leo9')
                  img(src='/resources/icons/mixcloud.png')
              li.profileSound
                a(href='http://www.soundcloud.com/leo9')
                  img(src='/resources/icons/soundloud.png')
              li.profileVideo
                a(href='http://www.youtube.com/leo9')
                  img(src='/resources/icons/youtube.png')

    script(type="text/javascript",src="/scripts/application.min.js",charset='UTF-8')
    script(type="text/javascript",src="/scripts/vendors/googleanalytics.js",charset='UTF-8')
